header,
footer {
    z-index: 1;
}

.under-construction {
    background-image: url(https://giffiles.alphacoders.com/158/158668.gif);
    background-position: center;
    background-repeat: repeat-x;
    height: 80vh;
    object-fit: cover;
}

.section-under-construction {
    border-top: 1px solid var(--color-destaque3);
    background-image: url(https://giffiles.alphacoders.com/158/158668.gif);
    background-position: center;
    background-repeat: repeat-x;
    height: 20vh;
    object-fit: cover;
}