* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

/* +HEADER */

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1;
}

header .header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .header-content .logo img {
    width: 5rem;
}

header .header-content .main-nav {
    display: flex;
    gap: 2rem;
}

header .header-content .main-nav a:link,
header .header-content .main-nav a:visited,
header .header-content .main-nav a:link:visited {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    display: block;
    position: relative;      
}

header .header-content .main-nav a::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

header .header-content .main-nav a:hover::after {
    height: calc(100% + 6px)
}

/* /+HEADER */


/* +FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: var(--sec-bg-color);
    padding: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer a:link,
footer a:visited,
footer a:link:visited {
    color: #fff;
}

footer p a:link,
footer p a:visited,
footer p a:link:visited {
    color: var(--color-destaque3);
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

footer p {
    color: #fff;
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--metis {
    font-family: bely-display, sans-serif;
    text-transform: lowercase;
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 2, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 2, 1);
}

/* /+Footer */