:root {
    --pri-bg-color: #121214;
    --sec-bg-color: #202225;
    --terc-bg-color: #393c43;
    --color1: #36393f;
    --color2: #2f3136;
    --color-destaque: #2A9D8F;
    --color-destaque2: #E9C46A;
    --color-destaque3: #F4A261;
    --color-destaque4: #E76F51;
}

body {
    color: #fff;
    background-color: var(--pri-bg-color);
}

main {
    position: relative;
    padding: 5rem 0;
}

.presentation {
    width: 100%;
    text-align: center;
    padding: 5rem;
    margin: 3rem 0;
}

.presentation h1,
.presentation h2 {
    font-family: 'Segoe UI', sans-serif;
}

.presentation h2 {
    margin: 2rem 0 0 0;
}

.technologies {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    background-color: var(--sec-bg-color);
    border-top: 1px solid var(--color-destaque3);
}

.content-technologies {
    width: 400px;
}

.technologies h2 {
    margin-bottom: 2rem;
}

.technologies ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.technologies li i {
    font-size: 50px;
}

.technologies span {
    color: var(--color-destaque3);
}