:root {
    --bg-color: #171717;
    --bg-color2: #202225;
    --bg-color3: #393c43;
    --text-color: #F9F9F9;
    --text-color2: #828282;
    --contrast-color: #00DF5E;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    position: relative;
    padding: 5rem 0;
}

.presentation {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
}

.presentation .presentation-title {
    margin-bottom: 2rem;
    transform: translateX(-40px);
    opacity: 0;
    transition: transform 3s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.presentation .presentation-title.is-visible {
    opacity: 1;
    transform: translateX(0);
}

.presentation h1 {
    margin-bottom: 1rem;
    font-weight: bold;
}

.presentation h3 {
    font-weight: 500;
    color: var(--text-color2);
}

.presentation h1,
.presentation h3 {
    font-family: 'Segoe UI', sans-serif;
}

.presentation .presentation-title span {
    color: rgba(0, 223, 94, 0.85);
}

.presentation .presentation-buttons {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    transform: translateY(40px);
    opacity: 0;
    transition: transform 3s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.presentation .presentation-buttons.is-visible {
    transform: translateX(0);
    opacity: 1;
}

.presentation .presentation-buttons a {
    text-align: center;
    width: 12rem;
    height: 2.3rem;
    padding: 0.5rem;
    text-decoration: none;
    background-color: var(--contrast-color);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.presentation .presentation-buttons a:visited,
.presentation .presentation-buttons a:link {
    color: var(--bg-color);
    font-weight: bold;
}

.presentation .presentation-buttons a:hover,
.presentation .presentation-buttons a:active {
    background-color: rgba(0, 223, 94, 0.8);
}


.presentation .presentation-img img {
    width: 100%;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 4rem 1rem;
}

.about-me h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.about-me p {
    color: var(--text-color2);
}

.about-me p span {
    color: var(--contrast-color);
}

.about-me .contacts {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
}

.about-me .contacts > div {
    transform: translateY(40px);
    opacity: 0;
    transition: transform 2s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.about-me .contacts > div.is-visible {
    opacity: 1;
    transform: translateY(0);
}


.about-me .contacts > div i {
    background-color: var(--bg-color2);
    padding: .6rem;
    border-radius: 50%;
    color: var(--contrast-color);
    font-size: 1.5rem;
    margin-bottom: .6rem;
}

.about-me .contacts > div h3 {
    margin-bottom: .5rem;
}

.about-me .contacts > div p,
.about-me .contacts > div a {
    color: var(--text-color2);
    padding: .6rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    place-items: center;
    padding: 4rem .5rem;
}

.projects > div {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 1.2rem 1rem;
    border: 1px solid #333333;
    background-color: var(--bg-color2);
    transform: translateY(40px);
    opacity: 0;
    transition: transform 2s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.projects > div.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.projects > div > div:first-child {
    position: relative;
    height: calc(10.5rem + 2px);
    align-self: center;
    background-color: var(--bg-color);
    border: 1px solid #333333;
    margin-bottom: 2rem;
    overflow: hidden;
}

.projects > div img {
    width: 100%;
    height: 10.5rem;
    object-fit: cover;
    transition: .3s ease-in-out;
}

/* ONLY COMPUTER */
.projects > div img:hover {
    transform: scale(1.2) translateY(13px);
    filter: blur(1px);
}

.projects > div > div:last-child {
    width: 95%;
}

.projects > div > div:last-child h3 {
    margin-bottom: 1rem;
}

.projects > div > div:last-child p {
    color: var(--text-color2);
}

.skills {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4rem 1rem;
}


.skills h2 {
    margin-bottom: 2rem;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.skills li {
    width: 5rem;
    height: 5rem;
    background-color: var(--bg-color2);
    padding: 1rem;
}

.skills li i {
    font-size: 3rem;
    color: var(--contrast-color);
}

.content-skills {
    width: 400px;
}

.content-skills li {
    transform: translateY(40px);
    opacity: 0;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.content-skills li.is-visible {
    opacity: 1;
    transform: translateY(0);
}